$width: 60%;
$size: 25%;
$center: center;
h1 {
    text-align: $center;
}
#starfeed {
    margin-left: $size;  
}
#profiles {
    border: 3px solid;
    width: 20%;
    height: 100%;
    float: left;
    position:fixed;
    background-color:lightskyblue;
}
#notification {
    position: static;
    float: right;
    width:25%;
    border:3px solid;
    height: 100%;
}
img {
    width:60%;
    height: 500px;
}